.ssc-sunday-pickers-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.ssc-create-schedule-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.ssc-sunday-picker-label {
  font-weight: bold;
}

.ssc-no-content {
  color: gray;
}

.ssc-schedule {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.ssc-sunday-editor-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ssc-sunday-editor-row > * {
  margin-right: 0.5rem;
}

.ssc-sunday-editor {
  display: block;
}

.ssc-rich-text-container {
  padding: 0.25rem;
  border-radius: 2px;
  border: 1px solid lightgray;
}