/* Calendar */

.ssc-calendar-container {
  display: flex;
  justify-content: space-between;
}

.ssc-calendar-semester {
  width: calc(50% - 5px);
  flex: none;
  display: flex;
  flex-direction: column;
}

.ssc-semester-title {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.ssc-calendar-month {
  background: #fff;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
  border-top: 2px solid #275bc4;
}

.ssc-calendar-month:last-child {
  margin-bottom: 0;
}

.ssc-month-title {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.ssc-calendar-week {
  display: flex;
  padding: 0.2rem 0;
  border-bottom: 1px solid #f0f0f0
}

.ssc-calendar-week:last-child {
  border-bottom: none;
}

.ssc-week-current {
  background: #fef390;
}

.ssc-calendar-day {
  font-weight: bold;
  width: 20px;
  margin-right: 1rem;
  flex: none;
  text-align: right;
}

.ssc-calendar-time {
  margin-right: 1rem;
  min-width: 75px;
  flex: none;
  white-space: nowrap;
}

/* This sunday */

.ssc-this-sunday-container {
  padding: 0.5rem;
  background: #fef390;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.ssc-this-sunday-title {
  display: block;
  padding-bottom: 0.25rem;
}

.ssc-this-sunday-time,
.ssc-this-sunday-notes {
  margin: 0 !important;
  padding: 0;
}

/* Mobile */

@media (max-width: 499px) {
  .ssc-calendar-container {
    justify-content: flex-start;
    flex-direction: column;
  }

  .ssc-calendar-semester {
    width: 100%;
    padding-top: 1rem;
  }

  .ssc-calendar-semester:last-child {
    padding-top: 2rem;
  }
}