.ssc-calendar-table {
  width: 100%;
  height: auto; 
  background: #fff;
}

.ssc-schedule-cell-header {
  text-align: center; 
  width: 50%;
}

.ssc-calendar-table td {
  vertical-align: middle;
}

.ssc-schedule-cell-date {
  text-align: center;
}

.ssc-schedule-cell-info-time,
.ssc-schedule-cell-info-notes,
.ssc-schedule-cell-info-no-school {
  padding: 0;
  margin: 0;
}