.scc-calendar-table {
  width: 100%;
  height: auto; 
  background: #fff;
}

.scc-schedule-cell-header {
  text-align: center; 
  width: 50%;
}

.scc-calendar-table td {
  vertical-align: middle;
}

.scc-schedule-cell-date {
  text-align: center;
}

.scc-schedule-cell-info p {
  padding: 0;
  margin: 0;
}